body .page-title {
  font-family: "Roboto", sans-serif;
}

body.page-home .site-title {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

body .mmt_container .reveal-modal {
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
}

body .mmt_container .reveal-modal .close-reveal-modal {
  font-size: 50px;
  text-decoration: none;
  top: 20px;
  right: 20px;
}

body h2.gig-list-header {
  margin-bottom: 0;
}

body .gig-list-header span {
  padding: 10px;
}

body .gig-date.date {
  font-weight: 700;
}

body .widget_audiotheme_upcoming_gigs dd.date {
  width: 10em !important;
}

body .widget_audiotheme_upcoming_gigs dl {
  padding-left: 12em !important;
}

body .gig-card {
  transition: padding .3s ease-in-out;
  padding: 10px !important;
}

body .gig-card:hover {
  padding: 20px 10px !important;
}

body .audiotheme_video h1,
body .audiotheme_gig h1 {
  font-size: 2em !important;
}

body .audiotheme_gig .entry-subtitle {
  font-size: 1.4em !important;
  margin-top: 0;
}

body .audiotheme_gig .entry-header {
  margin-bottom: 0 !important;
}

body .audiotheme_gig .gig-tickets-button {
  position: relative;
  top: -5px;
}

body .audiotheme_gig .gig-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .mmt h4 {
  margin-bottom: 8px !important;
}

body .mmt h6 {
  margin-top: 0 !important;
}

body .sep-country-name,
body .country-name {
  display: inline !important;
}

body .widget_audiotheme_upcoming_gigs .sep-country-name,
body .widget_audiotheme_upcoming_gigs .country-name,
body .widget_audiotheme_upcoming_gigs .venue,
body .widget_audiotheme_upcoming_gigs .description {
  display: block;
}

body .h-m-wrapper .h-t {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 0 1rem 0 0;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 48px;
  position: absolute;
  top: .25rem;
  left: 1.5rem;
}

body .h-m-wrapper .h-t:visited {
  color: white;
}

body .h-m-wrapper .h-t:visited:hover, body .h-m-wrapper .h-t:visited:focus {
  color: #bbb;
  text-decoration: none;
}

body .h-m-wrapper .h-t:hover, body .h-m-wrapper .h-t:focus {
  color: #bbb;
  text-decoration: none;
}

body .h-m-wrapper .site-navigation-toggle.is-open {
  height: 30px;
  top: 40px;
}

body .h-m-wrapper .site-navigation-toggle.is-open::before {
  top: -10px;
}

body .site-title {
  text-align: right;
}

body .site-navigation-toggle:not(.is-open) {
  left: auto !important;
  right: 1rem;
}

@media screen and (min-width: 768px) {

  body .site-title {
    font-size: 30px;
    font-size: 3rem;
  }

  body .site-navigation li {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1024px) {

  body .site, body .site-player-panel {
    width: 65%;
  }

  body .site-header,
  body .site-navigation-panel {
    width: 35%;
  }

  body .home-widgets .widget {
    padding: 65px;
  }

  body .site-header {
    background-image: url("../images/ash.gif") !important;
  }

  body .site-navigation-toggle {
    top: 0 !important;
  }

  body .site-navigation-toggle.is-open {
    top: 1rem !important;
  }
}
