body.site-navigation-is-open .site-branding {
  opacity: .3;
}

body.site-navigation-is-open .site-navigation {
  top: 0;
}

body .site-navigation-panel {
  position: relative;
  background: transparent !important;
}

body .site-navigation-panel-body {
  border: 0 !important;
}

body .h-t {
  font-family: "Roboto", sans-serif;
  padding: 0 1rem 0 0;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 48px;
  position: absolute;
  top: .25rem;
  left: 2rem;
  z-index: 1000;
  text-decoration: none !important;
  color: #666 !important;
}

body .h-t:hover, body .h-t:focus {
  color: #fff !important;
}

body #page {
  border-left: 1px solid #ddd;
}

body .site-footer {
  background: transparent;
}

body .home-widgets::before {
  display: none;
}

body #closeMap {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

body .audiotheme_gig {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .audiotheme_gig .venue-meta {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  padding: 2rem;
  position: fixed;
  z-index: 5;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  right: 0;
  top: 0;
}

body .audiotheme_gig .venue-meta .venue-map,
body .audiotheme_gig .venue-meta .venue-address {
  width: 90%;
}

body .audiotheme_gig .mapLink {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  background: #333;
  font-size: 14px;
  margin: 0 0 0 10px;
  text-transform: uppercase;
  position: relative;
  top: -2px;
}

body .audiotheme_gig .mapLink:visited {
  color: white;
}

body .audiotheme_gig .mapLink:visited:hover, body .audiotheme_gig .mapLink:visited:focus {
  color: white;
  text-decoration: none;
}

body .audiotheme_gig .mapLink:hover, body .audiotheme_gig .mapLink:focus {
  color: white;
  text-decoration: none;
}

body .audiotheme_gig .mapLink:hover {
  background: #2d8ac7;
}

body .audiotheme_gig .mapLink::before {
  display: none;
}

body a {
  transition: color .2s ease-in-out;
}

body a:link, body a:visited {
  color: #2d8ac7;
}

body a:hover {
  color: #000;
  opacity: 1 !important;
}

body .page-title,
body .entry-title {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

body.page-home .site-title {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

body.page-home .entry-title {
  background: url("../images/logo.png") no-repeat left -5px;
  padding-top: 30px;
}

body .mmt_container .reveal-modal {
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
}

body .mmt_container .reveal-modal .close-reveal-modal {
  font-size: 50px;
  text-decoration: none;
  top: 20px;
  right: 20px;
}

body h2.gig-list-header {
  display: none;
}

body .gig-list-header span {
  padding: 10px;
}

body .gig-card {
  border: 0;
}

body .gig-date.date {
  font-weight: 700;
}

body .gig-list.vcalendar {
  border-left: 6px solid #eee;
  border-bottom: 0;
}

body .gig-list .gig-card dt.gig-venue,
body .gig-list .gig-card dd.gig-description {
  padding-left: 0;
}

body .widget_audiotheme_upcoming_gigs .dtstart {
  background: #333;
  padding: 10px;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

body .widget_audiotheme_upcoming_gigs dt {
  font-size: 24px;
  position: relative;
  top: -.8rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 1.2;
}

body .widget_audiotheme_upcoming_gigs dd.date {
  width: 10em !important;
}

body .widget_audiotheme_upcoming_gigs dl {
  padding: 6rem 0 0 0;
}

body .gig-card {
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  padding: 10px !important;
  border-bottom: 1px solid #eee;
}

body .gig-card:last-child {
  border-bottom: 0;
}

body .gig-card a {
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

body .gig-card:hover {
  background-color: #2d8ac7;
  color: #fff;
}

body .gig-card .gig-permalink {
  padding-bottom: 4rem;
}

body .gig-card .gig-permalink a {
  color: #2d8ac7;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

body .gig-card .gig-permalink a:visited {
  color: #2d8ac7;
}

body .gig-card .gig-permalink a:visited:hover, body .gig-card .gig-permalink a:visited:focus {
  color: white;
  text-decoration: underline;
}

body .gig-card .gig-permalink a:hover, body .gig-card .gig-permalink a:focus {
  color: white;
  text-decoration: underline;
}

body .gig-card .gig-permalink a:hover {
  letter-spacing: 5px;
}

body .gig-card .gig-permalink .screen-reader-text {
  clip: initial;
  height: auto;
  width: auto;
  bottom: 0;
  padding: 0 1rem;
  border-left: 4px solid;
  margin: .5em 0 1em .7em;
}

body .audiotheme_video h1,
body .audiotheme_gig h1 {
  font-size: 2em !important;
}

body .audiotheme_gig .entry-subtitle {
  font-size: 1.4em !important;
  margin-top: 0;
}

body .audiotheme_gig .entry-header {
  margin-bottom: 0 !important;
}

body .audiotheme_gig .gig-tickets-button {
  position: relative;
  top: -5px;
}

body .audiotheme_gig .gig-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .mmt h4 {
  margin-bottom: 8px !important;
}

body .mmt h6 {
  margin-top: 0 !important;
}

body .sep-country-name,
body .country-name {
  display: inline !important;
}

body .widget_audiotheme_upcoming_gigs .sep-country-name,
body .widget_audiotheme_upcoming_gigs .country-name,
body .widget_audiotheme_upcoming_gigs .venue,
body .widget_audiotheme_upcoming_gigs .description {
  display: block;
}

body .h-m-wrapper .site-navigation-toggle.is-open {
  height: 30px;
  top: 40px;
  right: 5px;
}

body .h-m-wrapper .site-navigation-toggle.is-open::before {
  top: -10px;
}

body .site-title {
  text-align: right;
}

body .site-title a {
  color: white;
}

body .gig-title {
  font-size: 22px !important;
}

body .site-header {
  background-image: url("../images/ash.gif") !important;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

body .site-header__mask {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

body .site-navigation-panel-body {
  padding: 25px;
}

.site-navigation-panel-body {
  display: -webkit-box;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.site-navigation-panel-body li.active a {
  color: #2d8ac7 !important;
  font-weight: 400;
}

.site-navigation-panel {
  background: rgba(0, 0, 0, 0.5) !important;
  width: 100% !important;
}

.site-navigation-panel li a {
  color: white;
  text-decoration: none;
}

.site-navigation-panel li a:visited {
  color: white;
}

.site-navigation-panel li a:visited:hover, .site-navigation-panel li a:visited:focus {
  color: #2d8ac7;
  text-decoration: none;
}

.site-navigation-panel li a:hover, .site-navigation-panel li a:focus {
  color: #2d8ac7;
  text-decoration: none;
}

.site-navigation-panel li a:hover {
  color: #2d8ac7 !important;
}

.site-navigation-toggle:not(.is-open) {
  left: auto !important;
  right: 1rem;
}

.site-navigation {
  padding: 0 !important;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}

.site-branding {
  opacity: 1;
}

.site-branding .site-title {
  position: relative;
  top: -102px;
  right: -20px;
}

.site-navigation-is-open .site {
  left: 0 !important;
}

.site-navigation-is-open .site-navigation-panel-body {
  border-bottom: 1px solid #111;
}

.site-navigation-is-open .site-navigation {
  opacity: 1;
  display: block;
  position: relative;
  top: 50px;
}

.site-navigation-is-open .site-branding {
  opacity: .5;
  position: relative;
}

.site-navigation-is-open .secondary-navigation {
  display: none;
  opacity: 0;
}

#events .page-title::before {
  content: "Upcoming";
  font-size: 28px;
  margin-right: .5em;
}

#eventspast .page-title::before {
  content: "Previous";
  font-size: 28px;
  margin-right: .5em;
}

.widget_audiotheme_upcoming_gigs dl {
  margin-bottom: 2em !important;
}

@media screen and (min-width: 560px) {

  body .site-navigation-panel-body {
    padding-left: 80px;
  }
}

@media screen and (min-width: 783px) {

  body .h-t {
    left: 4.5rem;
  }

  body .site-title {
    font-size: 30px;
    font-size: 3rem;
  }

  body .site-navigation-panel-body {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: right;
  }

  body .site-navigation li {
    font-size: 2.5rem;
  }

  body .widget_audiotheme_upcoming_gigs dl {
    padding-left: 12em;
    padding-top: 0;
  }

  body .home-widgets .widget {
    width: 100% !important;
  }
}

@media screen and (min-width: 1024px) {

  body .site, body .site-player-panel {
    width: 65%;
  }

  body .site-navigation-panel-body {
    padding: 45px;
  }

  body .site-navigation-panel {
    top: 46px;
  }

  body .site-navigation-panel-body {
    border-bottom: 0;
    padding-left: 45px;
  }

  body .site-header {
    width: 35% !important;
    position: fixed;
  }

  body .site-navigation {
    top: 0 !important;
  }

  body .site-branding {
    position: absolute !important;
    top: 35%;
    left: 0 !important;
    width: 100% !important;
  }

  body .site-branding .site-title {
    top: 0;
    right: 0;
  }

  body .home-widgets .widget {
    padding: 65px;
  }

  body .home-widgets .widget .locality {
    color: #555 !important;
  }

  body .home-widgets .widget .sep-region,
  body .home-widgets .widget .region,
  body .home-widgets .widget .sep-country-name,
  body .home-widgets .widget .country-name {
    color: #555 !important;
  }

  body .home-widgets .widget .venue {
    position: relative;
    top: -8px;
    font-size: 20px;
  }

  body .secondary-navigation,
  body .site-navigation-panel-body {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  body .site-navigation-toggle {
    top: 0 !important;
  }

  body .site-navigation-toggle.is-open {
    top: 1rem !important;
  }
}
