@import "mixins";

body {

  .page-title {
    font-family: "Roboto", sans-serif;
  }

  .site-title {

  }

  &.page-home {

    .site-title {
      @include element-invisible;
    }
  }

  .mmt_container .reveal-modal {
    width: 100%;
    left: 0 !important;
    top: 0 !important;
    position: absolute;
    height: 100%;
    overflow-y: scroll;

    .close-reveal-modal {
      font-size: 50px;
      text-decoration: none;
      top: 20px;
      right: 20px;
    }
  }

  h2.gig-list-header {
    margin-bottom: 0;
  }

  .gig-list-header {

    span {
      padding: 10px;
    }
  }

  .gig-date.date {
    font-weight: 700;
  }

  .widget_audiotheme_upcoming_gigs dd.date {
    width: 10em !important;
  }

  .widget_audiotheme_upcoming_gigs dl {
    padding-left: 12em !important;
  }

  .gig-card {
    transition: padding .3s ease-in-out;
    padding: 10px !important;

    &:hover {
      padding: 20px 10px !important;
    }
  }

  .audiotheme_video h1,
  .audiotheme_gig h1 {
    font-size: 2em !important;
  }

  .audiotheme_gig {

    .entry-subtitle {
      font-size: 1.4em !important;
      margin-top: 0;
    }

    .entry-header {
      margin-bottom: 0 !important;
    }

    .gig-tickets-button {
      position: relative;
      top: -5px;
    }

    .gig-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mmt {

    h4 {
      margin-bottom: 8px !important;
    }

    h6 {
      margin-top: 0 !important;
    }
  }

  // FIRE!!

  .sep-country-name,
  .country-name  {
    display: inline !important;
  }

  .widget_audiotheme_upcoming_gigs .sep-country-name,
  .widget_audiotheme_upcoming_gigs .country-name,
  .widget_audiotheme_upcoming_gigs .venue,
  .widget_audiotheme_upcoming_gigs .description {
    display: block;
  }

  .h-m-wrapper {

    .h-t {
      @include link(white, none, #bbb, none);

      font-family: "Roboto", sans-serif;
      padding: 0 1rem 0 0;
      font-size: 1.1rem;
      font-weight: 400;
      letter-spacing: 0.1em;
      line-height: 48px;
      position: absolute;
      top: .25rem;
      left: 1.5rem;
    }

    .site-navigation-toggle.is-open {
      height: 30px;
      top: 40px;

      &::before {
        top: -10px
      }
    }
  }

  .site-title {
    text-align: right;
  }

  @media screen and (min-width: 768px) {

    .site-title {
      font-size: 30px;
      font-size: 3rem;
    }

    .site-navigation li {
      font-size: 2.5rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .site, .site-player-panel {
      width: 65%;
    }

    .site-header,
    .site-navigation-panel {
      width: 35%;
    }

    .home-widgets .widget {
      padding: 65px;
    }

    .site-header {
      background-image: url('../images/ash.gif') !important;
    }

    .site-navigation-toggle {
      top: 0 !important;

      &.is-open {
        top: 1rem !important;
      }
    }
  }

  .site-navigation-toggle:not(.is-open) {
    left: auto !important;
    right: 1rem;
  }
}