@import "mixins";

$blue: #2d8ac7;

body {

  .h-t {

    font-family: "Roboto", sans-serif;
    padding: 0 1rem 0 0;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 48px;
    position: absolute;
    top: .25rem;
    left: 2rem;
    z-index: 1000;
    text-decoration: none !important;
    color: #666 !important;

    &:hover,
    &:focus {
      color: #fff !important;
    }
  }

  #page {
    border-left: 1px solid #ddd;
  }

  .site-footer {
    background: transparent;
  }

  .home-widgets::before {
    display: none;
  }

  #closeMap {
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  .audiotheme_gig {
    display: flex;
    flex-direction: column;

    .venue-meta {
      //display: none;
      order: 3;
      padding: 2rem;
      position: fixed;
      z-index: 5;
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 65%;
      height: 100%;
      right: 0;
      top: 0;

      .venue-map,
      .venue-address {
        width: 90%;
      }
    }

    .gig-location::after {
      content: "- Venue: ";
    }

    .mapLink {
      @include link(white, none, white, none);

      padding: 10px 10px;
      background: #333;
      font-size: 14px;
      margin: 0 0 0 10px;
      text-transform: uppercase;
      position: relative;
      top: -2px;

      &:hover {
        background: $blue;
      }

      &::before {
        display: none;
      }
    }

    .gig-venue-name {


    }
  }

  a {
    transition: color .2s ease-in-out;

    &:link,
    &:visited {
      color: $blue;
    }

    &:hover {
      color: #000;
      opacity: 1 !important;
    }
  }

  .page-title,
  .entry-title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }

  &.page-home {

    .site-title {
      @include element-invisible;
    }

    .entry-title {
      background: url('../images/logo.png') no-repeat left -5px;
      padding-top: 30px;
    }
  }

  .mmt_container .reveal-modal {
    width: 100%;
    left: 0 !important;
    top: 0 !important;
    position: absolute;
    height: 100%;
    overflow-y: scroll;

    .close-reveal-modal {
      font-size: 50px;
      text-decoration: none;
      top: 20px;
      right: 20px;
    }
  }

  h2.gig-list-header {
    margin-bottom: 0;
  }

  .gig-list-header {

    span {
      padding: 10px;
    }
  }

  .gig-card {
    border: 0;
  }

  .gig-date.date {
    font-weight: 700;
  }

  .gig-list.vcalendar {
    border-left: 6px solid #eee;
    border-bottom: 0;
  }

  .gig-list .gig-card dt.gig-venue,
  .gig-list .gig-card dd.gig-description {
    padding-left: 0;
  }

  .widget_audiotheme_upcoming_gigs {

    .dtstart {
      background: #333;
      padding: 10px;
      color: white;
      font-size: 12px;
      text-transform: uppercase;
    }

    dt {
      font-size: 24px;
      position: relative;
      top: -.8rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
      line-height: 1.2;
    }

    dd.date {
      width: 10em !important;
    }

    dl {
      padding: 6rem 0 0 0;
    }
  }

  .gig-card {
    transition: background-color .2s ease-in-out,
                color .2s ease-in-out;
    padding: 10px !important;

    a {
      transition: background-color .2s ease-in-out,
      color .2s ease-in-out;
    }

    &:hover {
      background-color: $blue;
      color: #fff;
    }

    .gig-permalink {
      padding-bottom: 4rem;

      a {
        @include link($blue, none, white, underline);

        transition: all .5s ease-in-out;

        &:hover {
          letter-spacing: 5px;
        }
      }

      .screen-reader-text {
        clip: initial;
        height: auto;
        width: auto;
        bottom: 0;
        padding: 1rem;
      }
    }
  }

  .audiotheme_video h1,
  .audiotheme_gig h1 {
    font-size: 2em !important;
  }

  .audiotheme_gig {

    .entry-subtitle {
      font-size: 1.4em !important;
      margin-top: 0;
    }

    .entry-header {
      margin-bottom: 0 !important;
    }

    .gig-tickets-button {
      position: relative;
      top: -5px;
    }

    .gig-meta {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mmt {

    h4 {
      margin-bottom: 8px !important;
    }

    h6 {
      margin-top: 0 !important;
    }
  }

  // FIRE!!

  .sep-country-name,
  .country-name  {
    display: inline !important;
  }

  .widget_audiotheme_upcoming_gigs .sep-country-name,
  .widget_audiotheme_upcoming_gigs .country-name,
  .widget_audiotheme_upcoming_gigs .venue,
  .widget_audiotheme_upcoming_gigs .description {
    display: block;
  }

  .h-m-wrapper {

    .site-navigation-toggle.is-open {
      height: 30px;
      top: 40px;
      right: 5px;

      &::before {
        top: -10px
      }
    }
  }

  .site-title {
    text-align: right;

    a {
      color: white;
    }
  }

  .gig-title {
    font-size: 16px;
  }

  .site-header {
    background-image: url('../images/ash.gif') !important;
    filter: invert(100%);

    &__mask {
      background: rgba(0, 0, 0, .8);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  @media screen and (min-width: 783px) {

    .h-t {
      left: 4.5rem;
    }

    .site-title {
      font-size: 30px;
      font-size: 3rem;
    }

    .site-navigation li {
      font-size: 2.5rem;
    }

    .widget_audiotheme_upcoming_gigs dl {
      padding-left: 12em;
      padding-top: 0;
    }

    .home-widgets {

      .widget {
        width: 100% !important;
      }
    }

    &.site-navigation-is-open .site-navigation-panel-body {
        border-bottom: 0;
    }
  }

  @media screen and (min-width: 1024px) {
    .site, .site-player-panel {
      width: 65%;
    }

    .site-header,
    .site-navigation-panel {
      width: 35%;
    }

    .home-widgets .widget {
      padding: 65px;

      .locality {
        color: #555 !important;
      }

      .sep-region,
      .region,
      .sep-country-name,
      .country-name {
        color: #555 !important;
        //display: none !important;
      }

      .venue {
        position: relative;
        top: -8px;
        font-size: 20px;
      }

    }

    .secondary-navigation,
    .site-navigation-panel-body {
      opacity: 1;
      transition: opacity 1s ease-in-out;
    }

    .site-navigation-toggle {
      top: 0 !important;

      &.is-open {
        top: 1rem !important;
      }
    }
  }
}

.site-navigation-panel-body {
  display: flex;
  justify-content: center;
  opacity: 1;
}

.site-navigation-panel {
  background: rgba(0, 0, 0, .5) !important;
  width: 100% !important;

  li a {
    @include link(white, none, $blue, none);

    &:hover {
      color: $blue !important;
    }
  }
}

.site-navigation-toggle:not(.is-open) {
  left: auto !important;
  right: 1rem;
}

.site-navigation {
  padding: 0 !important;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: none;
}

.site-branding {
  opacity: 1;
}

.site-navigation-is-open {

  .site {
    left: 0 !important;
  }

  .site-navigation-panel-body {
    border-bottom: 1px solid #111;
  }

  .site-navigation {
    opacity: 1;
    display: block;

  }

  .site-branding {
    opacity: .5;
    position: relative;
    top: -5rem;
  }

  .secondary-navigation {
    display: none;
    opacity: 0;
  }
}
